__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

*.log
*.pot
*.py,cover
db.sqlite3
media/
staticfiles/
*.mo

*.sql

.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode/
.idea/

*.pid
*.seed
*.pid.lock
**/Dockerfile*
**/docker-compose*.yml
*.db

.DS_Store
Thumbs.db

*.iml
*.ipr
*.iws

*.so
*.dll
*.dylib

.cache/
.coverage
htmlcov/
.pytest_cache/
